VONAGE_API_KEY=d82b5d9b
VONAGE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIE...\n-----END PRIVATE KEY-----"
VONAGE_NUMBER=12015471160
ALLOWED_ORIGINS=https://tu-dominio.com,https://n8n.tu-dominio.com
PORT=3000
